<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vss3WayMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vss3WayMerge.Properties.Settings>
            <setting name="DetachedMergeDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="VssJournalFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="VssMine" serializeAs="String">
                <value />
            </setting>
            <setting name="VssTheirs" serializeAs="String">
                <value />
            </setting>
            <setting name="vssMineUser" serializeAs="String">
                <value />
            </setting>
            <setting name="vssTheirsUser" serializeAs="String">
                <value />
            </setting>
            <setting name="vssMinePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="vssTheirsPassword" serializeAs="String">
                <value />
            </setting>
        </Vss3WayMerge.Properties.Settings>
    </userSettings>
</configuration>